.box{
    width: 100px;
    height: 100px;
    font-size: 6em;
    text-align: center;
    border-radius: 15px;
}
#box1{
    background-color: red;
}
#box2{
    background-color: yellowgreen;
}
#box3{
    background-color: green;
}
#box4{
    background-color: blue;
}
.container{
    display: flex;
    border: 6px solid;
    height: 100vh;
    align-items: baseline;
    flex-wrap: wrap;
    align-content: flex-start;
    column-gap: 1mm;
    row-gap: 1mm
    ;
}